{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block bootstrap5_extra_head %}{% endblock %}
{% block bootstrap5_title %}{{ SITE_NAME }} | 理解度問題受験状況{% endblock %}
{% block content %}
<h5 class="pb-4 mb-4 fst border-bottom">{{ SITE_NAME }} 受験状況</h5>
{% for course in courses %}
  <blockquote class="blockquote">
    <p>第 {{ forloop.counter }} 章　{{ course.title }}</p>
  </blockquote>
  {% for chapter_user in chapter_users %}
    {% if course.id == chapter_user.course_id %}
      <div class="row">
        <div class="col-8">
          <ul>
            <li class="list-unstyled">
              {% if chapter_user.total_score is not None and chapter_user.correct_rate is not None %}
                <a href="{% url 'exam:correct' chapter_user.chapter_id %}" class="text-decoration-none">
              {% else %}
                <a href="{% url 'exam:index' chapter_user.chapter_id %}" class="text-decoration-none">
              {% endif %}
              {{ chapter_user.chapter.chapter_title }}の理解度問題
              </a>
            </li>
          </ul>
        </div>
        <div class="col">点数：{{ chapter_user.total_score | default_if_none:' - ' }}点</div>
        <div class="col">正解率：{{ chapter_user.correct_rate }}</div>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}